.headBox {
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    color: white;
}



.display-4 {
    font-size: 64px;
    font-weight: bold;
}

body {
    background-color: #a5a5a5;
    font-family: 'Roboto', sans-serif;
}

span#title {
    margin-right: 40px;
}

span#buttons {
    margin-right: 10px;
}

button {
    text-align: center;
}

ul {
    background-color: #000;
}

li {
    padding: 5px;
    background-color: rgb(224, 224, 224);
}

li:nth-child(2n) {
    background-color: #cfcfcf;
}